.main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 12fr 1fr;
    background-color: rgb(57, 137, 212);
}

/* .row-one,
.row-two,
.row-three{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
} */
/* .row-two{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    background-color: rgb(57, 137, 212);
} */


/* .container-padding{
        margin: 12px;
        border: 1px dashed #bd2626b4;
    } */